body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 1800px;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100px;
    align-self: center;
    margin: 20px;
  }

  #name_title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .h {
      margin: 0;
      font-weight: normal;
  }

  #name {
    font-size: 32px;
}

  #title {
    font-size: 20px;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 20px;
  }

  .nav .current {
    color: blue;
  }

  #landing {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: gold;
  }

  #footer {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: green;
}